<form (ngSubmit)="onSubmit()" [formGroup]="updateBikeForm">
  <h1>Update Bike</h1>
  <hr />

  <div class="dialog-row">
    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Number of bikes</mat-label>
      <input
        #numberOfBikes
        type="text"
        formControlName="numberOfBikes"
        matInput
        placeholder="123"
      />
      <mat-error
        *ngIf="
          updateBikeForm.get('numberOfBikes')?.invalid &&
          updateBikeForm.get('numberOfBikes')?.dirty
        "
      >
        Must be a number from 100-999
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Pcik up time</mat-label>
      <input
        #pickUpTime
        matInput
        [ngxMatDatetimePicker]="pickUpTimePicker"
        placeholder="HH:mm"
        formControlName="pickUpTime"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(pickUpTimePicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #pickUpTimePicker
        [showSpinners]="true"
        [showSeconds]="false"
        [touchUi]="true"
      >
      </ngx-mat-datetime-picker>
      <mat-error
        *ngIf="
          updateBikeForm.get('pickUpTime')?.invalid &&
          updateBikeForm.get('pickUpTime')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Name</mat-label>
      <input
        #name
        type="text"
        formControlName="name"
        matInput
        placeholder="Madsen"
      />
      <mat-error
        *ngIf="
          updateBikeForm.get('name')?.invalid &&
          updateBikeForm.get('name')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Room</mat-label>
      <input
        #room
        type="text"
        formControlName="room"
        matInput
        placeholder="123"
      />
      <mat-error
        *ngIf="
          updateBikeForm.get('room')?.invalid &&
          updateBikeForm.get('room')?.dirty
        "
      >
        Must be a number from 100-999
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Reserved by</mat-label>
      <input
        #reservedBy
        type="text"
        formControlreservedBy="reservedBy"
        matInput
        placeholder="reservedBy"
      />
      <mat-error
        *ngIf="
          updateBikeForm.get('reservedBy')?.invalid &&
          updateBikeForm.get('reservedBy')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" appearance="fill" class="full-width">
      <mat-label>Bike form</mat-label>
      <input
        #bikeForm
        type="text"
        formControlName="bikeForm"
        matInput
        placeholder="bikeForm"
      />
      <mat-error
        *ngIf="
          updateBikeForm.get('bikeForm')?.invalid &&
          updateBikeForm.get('bikeForm')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>returned</mat-label>
      <input
        #returned
        matInput
        type="text"
        [ngxMatDatetimePicker]="returnedPicker"
        formControlName="returned"
        placeholder="HH:mm"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(returnedPicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #returnedPicker
        [showSpinners]="true"
        [showSeconds]="false"
        [touchUi]="true"
      >
      </ngx-mat-datetime-picker>
      <mat-error
        *ngIf="
          updateBikeForm.get('returned')?.invalid &&
          updateBikeForm.get('returned')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" appearance="fill" class="full-width">
      <mat-label>Comments</mat-label>
      <input
        #comments
        type="text"
        formControlName="comments"
        matInput
        placeholder="Comments"
      />
      <mat-error
        *ngIf="
          updateBikeForm.get('comments')?.invalid &&
          updateBikeForm.get('comments')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <button
      class="secondary-btn"
      type="button"
      mat-raised-button
      mat-dialog-close
    >
      Cancel
    </button>

    <button class="action-btn" mat-flat-button type="submit">
      + Update Bike
    </button>
  </div>
</form>
