table {
  width: 100%;
  box-shadow: none;

  max-height: 70%;
}

.table-actions {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5em;

  h1 {
    margin: 0;
    color: var(--main-blue);
  }

  mat-form-field {
    &:first-of-type {
      width: 250px;
      margin-left: 0.5em;
      margin-right: 1em;
    }
  }

  .table-buttons {
    button {
      &:first-of-type {
        margin-right: 1em;
      }
    }
  }
}

tr.mat-header-row {
  height: 3.5em;
}

th.mat-header-cell {
  color: var(--main-blue);
  font-weight: 900;
  vertical-align: bottom;
  padding-bottom: 5px;
  text-align: center;

  &:first-of-type, &:last-of-type {
    padding-left: 0px;
    padding-right: 0px;
  }
}

td.mat-cell {
  padding-right: 10px;

  &:first-of-type {
    padding-left: 10px;
  }
}

.mat-row {
  &:hover {
    background-color: var(--main-blue-lowest-opacity);
    
    .car-checkbox {
      input ~ .checkmark {
        background-color: #ccc;
      }
    }
  }

  > .mat-cell {
    border-right: 1px solid var(--main-blue-low-opacity);
    border-top: 1px solid var(--main-blue-low-opacity);
    min-width: 2vw;
    max-width: 10vw;
    padding: 0 5px;
    text-align: center;

    &:last-child {
      border-right: none;
    }
  }
}

.completed {
  background-color: var(--main-blue-lowest-opacity);

  &.mat-row:hover {
    background-color: var(--main-blue-lower-opacity);
  }
}

.remove-error-message {
  ::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0.15em;
  }
  ::ng-deep.mat-form-field-underline {
    bottom: 0;
  }
  ::ng-deep.mat-form-field-ripple {
    background-color: var(--main-blue);
  }
}