<form (ngSubmit)="create()" [formGroup]="form" data-cy="create-checkout-dialog">
  <div class="header">
    <h2>Update Luggage</h2>
  </div>
  <hr />

  <div class="input-container">
    <div class="row-container">
      <!-- Room + nr of bags-->
      <mat-form-field class="input one-third" appearance="fill">
        <mat-label class="input-label">Room</mat-label>
        <input
          type="text"
          data-cy="update-checkout-room-input"
          formControlName="room"
          matInput
          placeholder="123"
        />
        <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.dirty">
          Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input one-third" appearance="fill">
        <mat-label class="input-label">Nr of bags</mat-label>
        <input
          type="text"
          data-cy="update-checkout-room-input"
          formControlName="bags"
          matInput
          placeholder="1+3"
        />
        <mat-error *ngIf="form.get('bags')?.invalid && form.get('bags')?.dirty">
          Required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input one-third" appearance="fill">
        <mat-label class="input-label">Tag nr</mat-label>
        <input
          type="text"
          data-cy="create-checkout-tag-nr"
          formControlName="tagNr"
          matInput
          placeholder="123"
        />
        <mat-error
          *ngIf="form.get('tagNr')?.invalid && form.get('tagNr')?.dirty"
        >
          Required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row-container">
      <!--  name -->
      <mat-form-field class="input full-width" appearance="fill">
        <mat-label class="input-label">Name</mat-label>
        <input
          type="text"
          data-cy="update-checkout-name"
          formControlName="name"
          matInput
          placeholder="John Doe"
        />
        <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.dirty">
          Required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row-container">
      <!-- Location + bb in lr -->
      <mat-form-field class="input" appearance="fill">
        <mat-label class="input-label">Location</mat-label>
        <input
          type="text"
          data-cy="update-checkout-location"
          formControlName="location"
          matInput
          placeholder="LR1"
        />
        <mat-error
          *ngIf="form.get('location')?.invalid && form.get('location')?.dirty"
        >
          Required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label class="input-label">BB in LR</mat-label>
        <input
          type="text"
          data-cy="update-checkout-name"
          formControlName="bbLr"
          matInput
          placeholder="JD"
        />
        <mat-error *ngIf="form.get('bbLr')?.invalid && form.get('bbLr')?.dirty">
          Required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row-container">
      <!-- description -->
      <mat-form-field class="input full-width" appearance="fill">
        <mat-label class="input-label">Description</mat-label>
        <input
          type="text"
          data-cy="update-checkout-description"
          formControlName="description"
          matInput
          placeholder=""
        />
        <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.dirty">
          Required
        </mat-error>
      </mat-form-field>
    </div>

    <div id="gdpr-checkbox" class="row-container">
      <!-- GDPR notice -->
      <mat-checkbox formControlName="guestApprovedGDPR">
        The guest has approved that the hotel handles their personal data
      </mat-checkbox>
    </div>
  </div>

  <div class="action">
    <button
      mat-flat-button
      color="accent"
      class="action-button"
      data-cy="create-checkout-cancel-btn"
      mat-dialog-close
    >
      Cancel
    </button>
    <span
      class="action-button"
      [matTooltip]="form.invalid ? 'Fill out all required fields first' : ''"
    >
      <button
        mat-flat-button
        color="primary"
        style="width: 100%"
        data-cy="create-checkout-create-btn"
        type="submit"
        [disabled]="form.invalid || isLoading"
      >
        <span *ngIf="!isLoading">Create</span>
        <mat-icon *ngIf="isLoading"
          ><mat-spinner diameter="21" color="accent"></mat-spinner
        ></mat-icon>
      </button>
    </span>
  </div>
</form>
