<form (ngSubmit)="onSubmit()" [formGroup]="createCheckoutForm" class="dialog-container">
  <h1>Create Check Out Luggage</h1>
  <hr />

  <div class="dialog-row">
    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Room nr.</mat-label>
      <input
        #room
        type="number"
        formControlName="room"
        matInput
        placeholder="123"
      />
      <mat-error *ngIf="createCheckoutForm.get('name')?.invalid && createCheckoutForm.get('name')?.dirty">
        Must be a number from 100-999
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Nr of bags</mat-label>
      <input
        #bags
        type="text"
        formControlName="bags"
        matInput
        placeholder="1+3"
      />
      <mat-error *ngIf="createCheckoutForm.get('bags')?.invalid && createCheckoutForm.get('bags')?.dirty">
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field autocomplete="off" appearance="fill" class="full-width">
    <mat-label>Name</mat-label>
    <input
      #name
      type="text"
      formControlName="name"
      matInput
      placeholder="John Doe"
    />
    <mat-error *ngIf="createCheckoutForm.get('name')?.invalid && createCheckoutForm.get('name')?.dirty">
      Required
    </mat-error>
  </mat-form-field>

  <div class="dialog-row">
    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Tag nr.</mat-label>
      <input
        #tagNr
        type="number"
        formControlName="tagNr"
        matInput
        placeholder="123"
      />
      <mat-error *ngIf="createCheckoutForm.get('tagNr')?.invalid && createCheckoutForm.get('tagNr')?.dirty">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>BB down</mat-label>
      <input
        #bbDown
        type="text"
        formControlName="bbDown"
        matInput
        placeholder="JD"
      />
      <mat-error
        *ngIf="createCheckoutForm.get('bbDown')?.invalid && createCheckoutForm.get('bbDown')?.dirty"
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Location</mat-label>
      <input
        #location
        type="text"
        formControlName="location"
        matInput
        placeholder="LR1"
      />
      <mat-error
        *ngIf="createCheckoutForm.get('location')?.invalid && createCheckoutForm.get('location')?.dirty"
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>BB in LR</mat-label>
      <input
        #bbLr
        type="text"
        formControlName="bbLr"
        matInput
        placeholder="JD"
      />
      <mat-error *ngIf="createCheckoutForm.get('bbLr')?.invalid && createCheckoutForm.get('bbLr')?.dirty">
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off" class="input" appearance="fill">
      <mat-label>BB Out</mat-label>
      <input type="text" formControlName="bbOut" matInput placeholder="JD" />
      <mat-error *ngIf="createCheckoutForm.get('bbOut')?.invalid && createCheckoutForm.get('bbOut')?.dirty">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>In room time</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="pickerCompletedAt"
        placeholder="dd/MM HH:mm"
        formControlName="completedAt"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(pickerCompletedAt)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #pickerCompletedAt
        [showSpinners]="true"
        [showSeconds]="false"
        [touchUi]="true"
      >
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>

  <mat-form-field autocomplete="off" class="full-width" appearance="fill">
    <mat-label>Comments</mat-label>
    <textarea
      type="text"
      formControlName="comments"
      matInput
      placeholder="Comments"
    ></textarea>
  </mat-form-field>

  <div class="dialog-row">
    <button mat-raised-button class="secondary-btn" mat-dialog-close>
      Cancel
    </button>
    <button mat-raised-button class="action-btn" type="submit">
      Add check out
    </button>
  </div>
</form>
