/* You can add global styles to this file, and also import other style files */
:root {
  /* Sizes */
  --navbar-height: 64px;

  /* Colors */
  --extra-light-grey: #f1f1f1;

  --main-blue: #2f2fa2;
  --main-blue-low-opacity: rgba(47, 47, 162, 0.4);
  --action-gradient: linear-gradient(192.45deg, #F64C72 0%, #F64C72 0%, #FA7B34 100%);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
  border-top: 2px solid var(--main-blue);
}

button {
  font-weight: 900;
}

.action-btn {
  color: white;
  background: var(--action-gradient);
}

.secondary-btn {
  color: white;
  background: var(--main-blue);
}

.basic-btn {
  color: var(--main-blue);
  background-color: white;
}

/* Custom checkbox */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 1.125em;
  cursor: pointer;
  font-size: var(--regular-font);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

.checkmark {
  position: absolute;
  top: -2px;
  left: 1px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 2px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--main-blue);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 8px;
  top: 2px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-container input:disabled ~ .checkmark {
  opacity: 0.5;
}