/* You can add global styles to this file, and also import other style files */
:root {
  /* Sizes */
  --navbar-height: 64px;

  /* Colors */
  --extra-light-grey: #f1f1f1;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.action-button {
  color: white;
  background: linear-gradient(192.45deg, #F64C72 0%, #F64C72 0%, #FA7B34 100%);
}