/* You can add global styles to this file, and also import other style files */
:root {
  /* Sizes */
  --navbar-height: 64px;

  /* Colors */
  --extra-light-grey: #f1f1f1;

  --main-blue: #2f2fa2;
  --main-blue-low-opacity: rgba(47, 47, 162, 0.4);
  --action-gradient: linear-gradient(
    192.45deg,
    #f64c72 0%,
    #f64c72 0%,
    #fa7b34 100%
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
  border-top: 2px solid var(--main-blue);
}

button {
  font-weight: 900;
}

.action-btn {
  color: white;
  background: var(--action-gradient);
}

.secondary-btn {
  color: white;
  background: var(--main-blue);
}

.basic-btn {
  color: var(--main-blue);
  background-color: white;
}
