<div class="flex align-center">
  <h1>404</h1>

  <h2>Page not found</h2>
  <p>
    I tried to catch some fog, but I mist. If you are having issues, feel free
    to send us an e-mail at:
  </p>
  <a
    id="mailto"
    class="link"
    href="mailto:help@hems.dk"
    target="_blank"
    rel="noopener"
  >
    help@hems.dk
  </a>

  <div class="m-1">
    <button
      mat-raised-button
      class="mr-1 secondary-btn"
      onclick="history.back()"
    >
      Back
    </button>
    <a
      mat-raised-button
      class="action-btn"
      routerLink="/dashboard"
      >Dashboard</a
    >
  </div>
</div>
