<form
  [formGroup]="createLongTermForm"
  (ngSubmit)="onSubmit()"
  class="dialog-container"
>
  <h1>Add long term</h1>
  <hr />

  <div class="dialog-row">
    <mat-form-field appearance="fill">
      <mat-label>Room nr.</mat-label>
      <input
        #room
        type="number"
        formControlName="room"
        matInput
        placeholder="Room nr"
        maxlength="10"
      />
      <mat-error
        *ngIf="
          createLongTermForm.get('room')?.invalid &&
          createLongTermForm.get('room')?.dirty
        "
      >
        Must be a number from 100-999
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date in</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="arrivalTimePicker"
        placeholder="dd/MM HH:mm"
        formControlName="arrivalTime"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(arrivalTimePicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #arrivalTimePicker
        [showSpinners]="true"
        [showSeconds]="false"
        [touchUi]="true"
      >
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label class="input-label">Name</mat-label>
      <input
        #name
        type="text"
        formControlName="name"
        matInput
        placeholder="John Doe"
      />
      <mat-error
        *ngIf="
          createLongTermForm.get('name')?.invalid &&
          createLongTermForm.get('name')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field
      autocomplete="off"
      class="input one-third"
      appearance="fill"
    >
      <mat-label class="input-label">Nr of bags</mat-label>
      <input
        #bags
        type="text"
        formControlName="bags"
        matInput
        placeholder="1+3"
      />
      <mat-error
        *ngIf="
          createLongTermForm.get('bags')?.invalid &&
          createLongTermForm.get('bags')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field
      autocomplete="off"
      class="input one-third"
      appearance="fill"
    >
      <mat-label class="input-label">Tag nr</mat-label>
      <input
        #tagNr
        type="text"
        formControlName="tagNr"
        matInput
        placeholder="123"
      />
      <mat-error
        *ngIf="
          createLongTermForm.get('tagNr')?.invalid &&
          createLongTermForm.get('tagNr')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Date needed</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="dateNeededPicker"
        placeholder="dd/MM HH:mm"
        formControlName="dateNeeded"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(dateNeededPicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #dateNeededPicker
        [showSpinners]="true"
        [showSeconds]="false"
        [touchUi]="true"
      >
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field
      autocomplete="off"
      class="input one-third"
      appearance="fill"
    >
      <mat-label class="input-label">BB in LR</mat-label>
      <input
        #bbLr
        type="text"
        formControlName="bbLr"
        matInput
        placeholder="JD"
      />
      <mat-error
        *ngIf="
          createLongTermForm.get('bbLr')?.invalid &&
          createLongTermForm.get('bbLr')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" class="input" appearance="fill">
      <mat-label class="input-label">Location</mat-label>
      <input
        #location
        type="text"
        formControlName="location"
        matInput
        placeholder="LR1"
      />
      <mat-error
        *ngIf="
          createLongTermForm.get('location')?.invalid &&
          createLongTermForm.get('location')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Comments</mat-label>
    <textarea
      #comments
      matInput
      type="text"
      formControlName="comments"
      placeholder="Describe the task"
    ></textarea>
  </mat-form-field>

  <div class="dialog-row">
    <button
      class="secondary-btn"
      mat-raised-button
      mat-dialog-close
      type="button"
    >
      Cancel
    </button>
    <button class="action-btn" mat-raised-button type="submit">
      Add assignment
    </button>
  </div>
</form>
