<main>
  <h1>Update Car</h1>
  <hr />
  <div>
    <mat-form-field class="felt">
      <input matInput placeholder="Room" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Tag Number" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Arrival" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Departure" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Experation Time" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Pick Up Time" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Bellboy Down" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Bellboy Up" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Location" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Parking Lot" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Delivery Tine" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Bellboy Out" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" />
    </mat-form-field>
  </div>
  <div>
    <input type="checkbox" />
    <label
      >The guest has given consent to the processing of personal data</label
    >
  </div>
  <div>
    <button class="basic-btn" mat-raised-button>
      Cancel
    </button>
    <button class="secondary-btn" mat-raised-button>
      Update
    </button>
  </div>
</main>
