/* Custom checkbox */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 1.125em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:disabled ~ .checkmark {
            opacity: 0.5;
        }

        &:checked ~ .checkmark {
            background-color: var(--main-blue);
        }

        &:checked ~ .checkmark:after {
            display: block;
        }
    }
}
    
.checkmark {
    position: absolute;
    top: -2px;
    left: 1px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 2px;

    &:after {
        content: '';
        position: absolute;
        display: none;
        left: 8px;
        top: 2px;
        width: 6px;
        height: 14px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}