table {
  width: 100%;
  box-shadow: none;
}

.table-actions {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5em;

  h1 {
    margin: 0;
    color: var(--main-blue);
  }
}

tr.mat-header-row {
  height: 3.5em;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 10px;
}

th.mat-header-cell,
td.mat-cell,
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
  padding-right: 10px;
}

th.mat-header-cell {
  color: var(--main-blue);
  font-weight: 900;
  vertical-align: bottom;
  padding-bottom: 5px;
}

.mat-row {
  &:hover {
    background-color: rgba(47, 47, 162, 0.1);
  }

  > .mat-cell {
    border-right: 1px solid var(--main-blue-low-opacity);
    border-top: 1px solid var(--main-blue-low-opacity);
    min-width: 2vw;
    max-width: 10vw;
    padding: 0 5px;
    text-align: center;
  
    &:last-child {
      border-right: none;
    }
  }
}

.completed {
  background-color: rgba(47, 47, 162, 0.1);

  &.mat-row:hover {
    background-color: rgba(47, 47, 162, 0.2);
  }
}

