.body-container {
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 225px;
  box-shadow: -7px 0px 24px 8px rgba(0, 0, 0, 0.15);
  color: white;
  background-color: #2f2fa2;
}

.sidebar mat-icon {
  color: white;
}

.title {
  color: rgba(47, 47, 162, 0.5);
}

.sidebar .toggle-btn {
  position: absolute;
  bottom: .5em;
  right: 0;
  color: white;
  background-color: #2f2fa2;
}

mat-divider {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.collapsed {
  width: 60px;
}

.collapsible {
  display: none;
}

.sidebar-header {
  padding: 16px 16px 0 16px;
}

.sidebar-header > h3 {
  margin: 0;
}

.sidebar-header .role {
  margin-bottom: 0;
}

.sidebar-header mat-icon {
  font-size: 40px;
}

.collapsed .sidebar-header mat-icon {
  font-size: 24px;
}

::ng-deep .collapsed .sidebar-header {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

::ng-deep .collapsed .sidebar-items .mat-list-item-content {
  display: flex;
  justify-content: center;
}

.sidebar-items .item-desc {
  margin-left: 20px;
  color: white;
}

.content {
  background-color: var(--extra-light-grey);
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar-item {
  color: #2f2fa2;
  background-color: transparent;
}
.navbar-item:hover {
  color: #5252fc;
  background-color: transparent;
}

#router-container {
  margin: 1em 2em;
}

.mat-elevation-z8 {
  box-shadow: none;
}
