.body-container {
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 225px;
  box-shadow: -7px 0px 24px 8px rgba(0, 0, 0, 0.15);
  color: white;
  background-color: var(--main-blue);
  // transition: 0.3s;

  .toggle-btn {
    position: absolute;
    bottom: 0.5em;
    right: 0;
    color: white;
    background-color: var(--main-blue);
  }
}

.page-title {
  margin-left: 0.25em;
  display: flex;
  font-weight: 100;
  color: var(--main-blue);
  align-items: center;

  h1 {
    margin: 0 0 2px 0;
  }

  mat-icon {
    margin-right: 0.4em;
  }
}

mat-divider {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

.collapsible {
  display: none;
}

.sidebar-header {
  padding: 16px 16px 0 16px;

  > h3 {
    margin: 0;
  }

  mat-icon {
    font-size: 40px;
  }

  .role {
    margin-bottom: 0;
  }
}

.sidebar.collapsed {
  width: 60px;
}

::ng-deep {
  .collapsed {
    .sidebar-header {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      mat-icon {
        font-size: 24px;
      }
    }

    .sidebar-items .mat-list-item-content {
      display: flex;
      justify-content: center;
    }
  }

  .active-nav {
    &:hover,
    &:focus {
      background: rgb(252, 252, 255) !important;
    }
  }
}

.content {
  background-color: white;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.side-nav-item {
  margin-left: 20px;
  color: white;
}

.navbar-item {
  color: var(--main-blue);
  background-color: transparent;
  transition: 0.3s;

  &:first-of-type {
    margin-right: 0.5em;
  }

  &:hover {
    background-color: var(--main-blue-lowest-opacity);
  }
}

#router-container {
  margin: 1em 2em;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.sidebar mat-icon {
  color: white;
}

.mat-list-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.active-nav {
  background-color: white;
  transition: 0.3s;

  span {
    color: var(--main-blue);
    margin-left: 0;
  }

  mat-icon {
    color: var(--main-blue);
    margin-right: 20px;
  }

  &:hover {
    background: var(--main-blue-lowest-opacity);
  }
}

.collapsed {
  .active-nav {
    mat-icon {
      margin: 0;
    }
  }
}

.mat-drawer-side {
  border-right: none;
}
