<!-- Only content unaffected by the sidenav should be placed outside of mat-sidenav-container -->
<mat-sidenav-container autosize class="body-container" data-cy="body-container">
  <!-- Sidebar -->
  <mat-sidenav
    *ngIf="router.url !== '/login'"
    mode="side"
    disableClose
    opened
    class="sidebar"
    [ngClass]="{ collapsed: sidebarCollapsed }"
    data-cy="sidebar"
  >
    <div
      class="sidebar-header"
      data-cy="sidebar-header"
      *ngIf="!sidebarCollapsed"
    >
      <h3
        class="username"
        [ngClass]="{ collapsible: sidebarCollapsed }"
        data-cy="sidebar-username"
      >
        Frederik Vagner
      </h3>
      <h5
        class="username"
        [ngClass]="{ collapsible: sidebarCollapsed }"
        data-cy="sidebar-username"
      >
        frederik.vagner@hems.com
      </h5>
    </div>
    <mat-divider
      [ngClass]="{ collapsible: sidebarCollapsed }"
      data-cy="sidebar-divider"
    ></mat-divider>
    <div class="sidebar-items" data-cy="sidebar-items">
      <mat-action-list>
        <button
          mat-list-item
          data-cy="sidebar-dashboard-btn"
          routerLink="dashboard"
        >
          <mat-icon aria-hidden="false" data-cy="icon">dashboard</mat-icon>
          <span
            class="item-desc"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            data-cy="item-desc"
            >Dashboard</span
          >
        </button>
        <button
          mat-list-item
          data-cy="sidebar-checkin-btn"
          routerLink="/checkin"
        >
          <mat-icon aria-hidden="false" data-cy="icon">book</mat-icon>
          <span
            class="item-desc"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            data-cy="item-desc"
            >Check in / out</span
          >
        </button>
        <button
          mat-list-item
          data-cy="sidebar-long-term-btn"
          routerLink="long-term"
        >
          <mat-icon aria-hidden="false" data-cy="icon">receipt_long</mat-icon>
          <span
            class="item-desc"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            data-cy="item-desc"
            >Long Term</span
          >
        </button>
        <button
          mat-list-item
          data-cy="sidebar-car-list-btn"
          routerLink="/car-list"
        >
          <mat-icon aria-hidden="false" data-cy="icon">directions_car</mat-icon>
          <span
            class="item-desc"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            data-cy="item-desc"
            >Car List</span
          >
        </button>
        <button
          mat-list-item
          data-cy="sidebar-daily-tasks-btn"
          routerLink="/daily-tasks"
        >
          <mat-icon aria-hidden="false" data-cy="icon">task</mat-icon>
          <span
            class="item-desc"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            data-cy="item-desc"
            >Daily Tasks</span
          >
        </button>
        <button
          mat-list-item
          data-cy="sidebar-assignments-btn"
          routerLink="/assignments"
        >
          <mat-icon aria-hidden="false" data-cy="icon">fact_check</mat-icon>
          <span
            class="item-desc"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            data-cy="item-desc"
            >BB Assignments</span
          >
        </button>
      </mat-action-list>
    </div>
    <button
      mat-flat-button
      (click)="toggleCollapsed()"
      class="toggle-btn"
      data-cy="sidebar-collapse-btn"
    >
      {{ sidebarCollapsed ? '>' : '<' }}
    </button>
  </mat-sidenav>
  <!-- Navbar -->

  <!-- Content -->
  <mat-sidenav-content class="content" data-cy="content">
    <!-- Navbar -->
    <div id="navbar">
      <div class="page-title">
        <div [ngSwitch]="title">
          <mat-icon aria-hidden="false" *ngSwitchCase="'Dashboard'">dashboard</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Account'">book</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Luggage List'">receipt_long</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Car List'">directions_car</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Check In / Out'">book</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Daily Tasks'">task</mat-icon>
          <mat-icon aria-hidden="false" *ngSwitchCase="'Assignments'">fact_check</mat-icon>
        </div>
        <h1 class="title">{{ title }}</h1>
      </div>
      
      <div id="navbar-action-buttons-container">
        <button
          mat-flat-button
          class="navbar-item"
          routerLink="/logout"
          data-cy="navbar-account-btn"
          *ngIf="router.url !== '/login'"
        >
          Account
        </button>
        <button
          mat-flat-button
          class="navbar-item"
          *ngIf="router.url !== '/login'"
          (click)="logout()"
          data-cy="navbar-logout-btn"
        >
          Log Out
        </button>
      </div>
    </div>
    <div id="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
