<!-- Only content unaffected by the sidenav should be placed outside of mat-sidenav-container -->
<mat-sidenav-container autosize class="body-container">
  <!-- Sidebar -->
  <mat-sidenav
    *ngIf="router.url !== '/login'"
    mode="side"
    disableClose
    opened
    class="sidebar"
    [ngClass]="{ collapsed: sidebarCollapsed }"
  >
    <div class="sidebar-header" *ngIf="!sidebarCollapsed">
      <h3 class="username" [ngClass]="{ collapsible: sidebarCollapsed }">
        Frederik Vagner
      </h3>
      <h5 class="username" [ngClass]="{ collapsible: sidebarCollapsed }">
        frederik.vagner@hems.com
      </h5>
    </div>
    <mat-divider [ngClass]="{ collapsible: sidebarCollapsed }"></mat-divider>
    <div class="sidebar-items">
      <mat-action-list>
        <button
          mat-list-item
          routerLink="dashboard"
          [ngClass]="title === 'Dashboard' ? 'active-nav' : ''"
        >
          <mat-icon aria-hidden="false">dashboard</mat-icon>
          <span
            class="side-nav-item"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            >Dashboard</span
          >
        </button>
        <button
          mat-list-item
          routerLink="/checkin"
          [ngClass]="title === 'Check In' ? 'active-nav' : ''"
        >
          <mat-icon aria-hidden="false">book</mat-icon>
          <span
            class="side-nav-item"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            >Check in</span
          >
        </button>
        <button
          mat-list-item
          routerLink="/checkout"
          [ngClass]="title === 'Check Out' ? 'active-nav' : ''"
        >
          <mat-icon aria-hidden="false">bookmark</mat-icon>
          <span
            class="side-nav-item"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            >Check out</span
          >
        </button>
        <button
          mat-list-item
          [ngClass]="title === 'Car List' ? 'active-nav' : ''"
          routerLink="/car-list"
        >
          <mat-icon aria-hidden="false">directions_car</mat-icon>
          <span
            class="side-nav-item"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            >Car List</span
          >
        </button>
        <button
          mat-list-item
          routerLink="long-term"
          [ngClass]="title === 'Long Term' ? 'active-nav' : ''"
        >
          <mat-icon aria-hidden="false">receipt_long</mat-icon>
          <span
            class="side-nav-item"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            >Long Term</span
          >
        </button>
        <button
          mat-list-item
          [ngClass]="title === 'Daily Tasks' ? 'active-nav' : ''"
          routerLink="/daily-tasks"
        >
          <mat-icon aria-hidden="false">task</mat-icon>
          <span
            [ngClass]="{ collapsible: sidebarCollapsed }"
            class="side-nav-item"
            >Daily Tasks</span
          >
        </button>
        <button
          mat-list-item
          [ngClass]="title === 'Bell Boy Assignment Sheet' ? 'active-nav' : ''"
          routerLink="/assignments"
        >
          <mat-icon aria-hidden="false">fact_check</mat-icon>
          <span
            class="side-nav-item"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            >BB Assignments</span
          >
        </button>
        <button
          mat-list-item
          data-cy="sidebar-bikes-btn"
          [ngClass]="title === 'Bike Sheet' ? 'active-nav' : ''"
          routerLink="/bikes"
        >
          <mat-icon aria-hidden="false" data-cy="icon"
            >directions_bike</mat-icon
          >
          <span
            class="side-nav-item"
            [ngClass]="{ collapsible: sidebarCollapsed }"
            data-cy="side-nav-item"
            >Bike sheet</span
          >
        </button>
      </mat-action-list>
    </div>
    <button mat-flat-button (click)="toggleCollapsed()" class="toggle-btn">
      {{ sidebarCollapsed ? '>' : '<' }}
    </button>
  </mat-sidenav>
  <!-- Navbar -->

  <!-- Content -->
  <mat-sidenav-content class="content">
    <!-- Navbar -->
    <div id="navbar">
      <div class="page-title">
        <div [ngSwitch]="title">
          <mat-icon aria-hidden="false" *ngSwitchCase="'Dashboard'"
            >dashboard</mat-icon
          >
          <mat-icon aria-hidden="false" *ngSwitchCase="'Account'"
            >book</mat-icon
          >
          <mat-icon aria-hidden="false" *ngSwitchCase="'Luggage List'"
            >receipt_long</mat-icon
          >
          <mat-icon aria-hidden="false" *ngSwitchCase="'Car List'"
            >directions_car</mat-icon
          >
          <mat-icon aria-hidden="false" *ngSwitchCase="'Check Out'"
            >bookmark</mat-icon
          >
          <mat-icon aria-hidden="false" *ngSwitchCase="'Check In'"
            >book</mat-icon
          >
          <mat-icon aria-hidden="false" *ngSwitchCase="'Daily Tasks'"
            >task</mat-icon
          >
          <mat-icon aria-hidden="false" *ngSwitchCase="'Long Term'"
            >receipt_long</mat-icon
          >
          <mat-icon
            aria-hidden="false"
            *ngSwitchCase="'Bell Boy Assignment Sheet'"
            >fact_check</mat-icon
          >
          <mat-icon aria-hidden="false" *ngSwitchCase="'Bike Sheet'"
            >fact_check</mat-icon
          >
          <mat-icon aria-hidden="false" *ngSwitchDefault>report</mat-icon>
        </div>
        <h1 class="title">{{ title }}</h1>
      </div>

      <div class="top-nav-actions">
        <mat-form-field
          autocomplete="off"
          appearance="fill"
          class="remove-error-message"
        >
          <mat-label>Display Date</mat-label>
          <input
            matInput
            [ngxMatDatetimePicker]="displayDatePicker"
            placeholder="Display Date"
            [(ngModel)]="displayDate"
            (dateChange)="onDisplayDateChange()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="$any(displayDatePicker)"
          ></mat-datepicker-toggle>
          <ngx-mat-datetime-picker
            #displayDatePicker
            [showSpinners]="true"
            [showSeconds]="false"
            [touchUi]="true"
          >
          </ngx-mat-datetime-picker>
        </mat-form-field>
        <button
          mat-flat-button
          class="navbar-item"
          routerLink="/logout"
          *ngIf="router.url !== '/login'"
        >
          Account
        </button>
        <button
          mat-flat-button
          class="navbar-item"
          *ngIf="router.url !== '/login'"
          (click)="logout()"
        >
          Log Out
        </button>
      </div>
    </div>
    <div id="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
