<section class="weather-widget">
  <div *ngIf="!isLoading">
    <div class="daily-display-container">
      <div class="city">{{ city }}</div>
      <div class="daily-weather-content">
        <div class="current-temp">{{ getNumber(weatherData.main.temp) }}°</div>
        <div class="current-info">
          <div class="info">
            <img
              [src]="getImgUrl(weatherData.weather[0].icon)"
              class="extra-small"
            />
            {{ weatherData.weather[0].description }}
          </div>
          <div class="info">
            <img
              src="/assets/icons/wind-white-icon.svg"
              style="padding-left: 3px"
            />
            {{ getNumber(weatherData.wind.speed) }} m/s
          </div>
          <div class="info">
            <img
              src="/assets/icons/thermostat-white-icon.svg"
              style="padding-left: 3px"
            />
            {{ getNumber(weatherData.main.temp_max) }}° /
            {{ getNumber(weatherData.main.temp_min) }}°
          </div>
        </div>
      </div>
    </div>
    <div class="weekly-display-container">
      <div *ngFor="let dateWeather of weatherForecast" class="week-day-display">
        <div class="week-day-container">
          <div class="date">{{ getDate(dateWeather.dt_txt) }}</div>
          <img
            [src]="getImgUrl(dateWeather.weather[0].icon)"
            class="extra-small"
          />
          <div class="date-temp">{{ getNumber(dateWeather.main.temp_max) }}°</div>
        </div>
      </div>
    </div>
  </div>
  <div class="spinner-full-size" *ngIf="isLoading">
    <mat-icon><mat-spinner diameter="21" color="white"></mat-spinner></mat-icon>
  </div>
</section>
