<div
  id="clickBlock"
  class="stuff"
  [ngStyle]="{ height: componentHeight + 'px' }"
>
  <br />
</div>
<div id="weatherContainer">
  <div class="remove"><br /></div>
  <div class="weather-container">
    <div
      class="tomorrow"
      data-location-id="030618"
      data-language="EN"
      data-unit-system="METRIC"
      data-skin="light"
      data-widget-type="upcoming"
      style="padding-bottom: 22px; position: relative"
    >
      <a
        href="https://www.tomorrow.io/weather-api/"
        rel="nofollow noopener noreferrer"
        target="_blank"
        #hrefLink
        id="hrefLink"
      >
        <img
          alt="Powered by the Tomorrow.io Weather API"
          src="https://weather-website-client.tomorrow.io/img/powered-by.svg"
          width="250"
          height="18"
        />
      </a>
    </div>
  </div>
  <div class="remove bottom"><br /></div>
</div>
