<form [formGroup]="createAssignmentForm" (ngSubmit)="onSubmit()">
    <h1>Add assignment</h1>
    <hr />
    <mat-form-field appearance="fill">
      <mat-label>Room</mat-label>
      <input
        type="text"
        formControlName="room"
        name="room"
        id="room"
        matInput
        placeholder="Room nr"
        maxlength="10"
        required
      />
      <mat-error
        *ngIf="
          createAssignmentForm.get('room')?.invalid && createAssignmentForm.get('room')?.dirty
        "
      >
        Invalid - A number from 100-999
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Task</mat-label>
      <input
        type="text"
        formControlName="task"
        name="task"
        id="task"
        matInput
        placeholder="Type of task"
        maxlength="100"
        required
      />
      <mat-error
        *ngIf="
          createAssignmentForm.get('task')?.invalid && createAssignmentForm.get('task')?.dirty
        "
      >
        Invalid - Required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea 
        matInput
        type="text"
        formControlName="comments"
        name="comments"
        id="comments"
        placeholder="Describe the task"
        maxlength="1000"
        required
      ></textarea>
      <mat-error
        *ngIf="
          createAssignmentForm.get('comments')?.invalid && createAssignmentForm.get('comments')?.dirty
        "
      >
        Invalid - Required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Received by</mat-label>
      <input
        type="text"
        formControlName="receivedBy"
        name="receivedBy"
        id="receivedBy"
        matInput
        placeholder="Received by"
        maxlength="100"
        required
      />
      <mat-error
        *ngIf="
          createAssignmentForm.get('task')?.invalid && createAssignmentForm.get('task')?.dirty
        "
      >
        Invalid - Required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Performed by</mat-label>
      <input
        type="text"
        formControlName="performedBy"
        name="performedBy"
        id="performedBy"
        matInput
        placeholder="Performed by"
        maxlength="100"
        required
      />
      <mat-error
        *ngIf="
          createAssignmentForm.get('performedBy')?.invalid && createAssignmentForm.get('performedBy')?.dirty
        "
      >
        Invalid - Required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Time received</mat-label>
      <input
        type="text"
        formControlName="receivedAt"
        name="receivedAt"
        id="receivedAt"
        matInput
        required
      />
      <mat-error
        *ngIf="
          createAssignmentForm.get('receivedAt')?.invalid && createAssignmentForm.get('receivedAt')?.dirty
        "
      >
        Invalid - Required
      </mat-error>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
      <mat-label>Time performed</mat-label>
      <input
        type="text"
        formControlName=""
        matInput
      />
      <mat-error
        *ngIf="
          createAssignmentForm.get('')?.invalid && createAssignmentForm.get('')?.dirty
        "
      >
        Invalid time received at - Required
      </mat-error>
    </mat-form-field> -->
    
    <div>
      <input type="checkbox" [checked]="guestHasApproved" (change)="guestHasApproved = !guestHasApproved"/>
      <label
        >The guest has given consent to the processing of personal data</label
      >
    </div>
    <button class="secondary-btn" mat-raised-button>
      Cancel
    </button>
    <button class="action-btn" mat-raised-button>
      + Add assignment
    </button>
  </form>