<main>
    <h1>Add assignment</h1>
    <hr />
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    
    <div>
      <input type="checkbox" />
      <label
        >The guest has given consent to the processing of personal data</label
      >
    </div>
    <div>
      <button class="action-buttons" mat-raised-button color="primary">
        Cancel
      </button>
      <button class="action-buttons" mat-raised-button color="warn">
        + add assignment
      </button>
    </div>
  </main>