<form (ngSubmit)="onSubmit()" [formGroup]="updateCarForm">
  <h1>Update Car</h1>
  <hr />

  <div class="dialog-row">
    <mat-form-field appearance="fill">
      <mat-label>Room nr.</mat-label>
      <input
        #room
        type="text"
        formControlName="room"
        matInput
        placeholder="123"
      />
      <mat-error
        *ngIf="
          updateCarForm.get('room')?.invalid && updateCarForm.get('room')?.dirty
        "
      >
        Must be a number from 100-999
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tag nr.</mat-label>
      <input
        #tagNr
        type="text"
        formControlName="tagNr"
        matInput
        placeholder="123"
      />
      <mat-error
        *ngIf="
          updateCarForm.get('tagNr')?.invalid &&
          updateCarForm.get('tagNr')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field appearance="fill">
      <mat-label>Arrival date</mat-label>
      <input
        #arrivalDate
        matInput
        [ngxMatDatetimePicker]="arrivalDatePicker"
        placeholder="dd/MM HH:mm"
        formControlName="arrivalDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(arrivalDatePicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #arrivalDatePicker
        [showSpinners]="true"
        [showSeconds]="false"
        [touchUi]="true"
      >
      </ngx-mat-datetime-picker>
      <mat-error
        *ngIf="
          updateCarForm.get('arrivalDate')?.invalid &&
          updateCarForm.get('arrivalDate')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Departure date</mat-label>
      <input
        #departureDate
        matInput
        [ngxMatDatetimePicker]="departureDatePicker"
        formControlName="departureDate"
        placeholder="dd/MM HH:mm"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(departureDatePicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #departureDatePicker
        [showSpinners]="true"
        [showSeconds]="false"
        [touchUi]="true"
      >
      </ngx-mat-datetime-picker>
      <mat-error
        *ngIf="
          updateCarForm.get('departureDate')?.invalid &&
          updateCarForm.get('departureDate')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        #name
        type="text"
        formControlName="name"
        matInput
        placeholder="Name"
      />
      <mat-error
        *ngIf="
          updateCarForm.get('name')?.invalid && updateCarForm.get('name')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>License plate</mat-label>
      <input
        #licensePlate
        type="text"
        formControlName="licensePlate"
        matInput
        placeholder="Name"
      />
      <mat-error
        *ngIf="
          updateCarForm.get('licensePlate')?.invalid &&
          updateCarForm.get('licensePlate')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field appearance="fill">
      <mat-label>Expiration date</mat-label>
      <input
        #expirationDate
        type="text"
        formControlName="expirationDate"
        [ngxMatDatetimePicker]="expirationDatePicker"
        matInput
        placeholder="dd/MM HH:mm"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(expirationDatePicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #expirationDatePicker
        [showSpinners]="true"
        [showSeconds]="false"
        [touchUi]="true"
      >
      </ngx-mat-datetime-picker>
      <mat-error
        *ngIf="
          updateCarForm.get('expirationDate')?.invalid &&
          updateCarForm.get('expirationDate')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Pick up time</mat-label>
      <input
        #pickupTime
        matInput
        type="text"
        [ngxMatDatetimePicker]="pickupTimePicker"
        formControlName="pickupTime"
        placeholder="dd/MM HH:mm"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(pickupTimePicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #pickupTimePicker
        [showSpinners]="true"
        [showSeconds]="false"
        [touchUi]="true"
      >
      </ngx-mat-datetime-picker>
      <mat-error
        *ngIf="
          updateCarForm.get('pickupTime')?.invalid &&
          updateCarForm.get('pickupTime')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field appearance="fill">
      <mat-label>BB down</mat-label>
      <input
        #bbDown
        type="text"
        formControlName="bbDown"
        matInput
        placeholder="BB Down"
      />
      <mat-error
        *ngIf="
          updateCarForm.get('bbDown')?.invalid &&
          updateCarForm.get('bbDown')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>BB up</mat-label>
      <input
        #bbUp
        type="text"
        formControlName="bbUp"
        matInput
        placeholder="BB Up"
      />
      <mat-error
        *ngIf="
          updateCarForm.get('bbUp')?.invalid && updateCarForm.get('bbUp')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input
        #location
        type="text"
        formControlName="location"
        matInput
        placeholder="Front of hotel"
      />
      <mat-error
        *ngIf="
          updateCarForm.get('location')?.invalid &&
          updateCarForm.get('location')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Parking lot</mat-label>
      <input
        type="text"
        formControlName="parkingLot"
        matInput
        placeholder="Front of hotel"
      />
      <mat-error
        *ngIf="
          updateCarForm.get('parkingLot')?.invalid &&
          updateCarForm.get('parkingLot')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field appearance="fill">
      <mat-label>Delivery time</mat-label>
      <input
        matInput
        type="text"
        [ngxMatDatetimePicker]="deliveryTimePicker"
        formControlName="deliveryTime"
        placeholder="dd/MM HH:mm"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(deliveryTimePicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #deliveryTimePicker
        [showSpinners]="true"
        [showSeconds]="false"
        [touchUi]="true"
      >
      </ngx-mat-datetime-picker>
      <mat-error
        *ngIf="
          updateCarForm.get('deliveryTime')?.invalid &&
          updateCarForm.get('deliveryTime')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Comments</mat-label>
    <input
      #comments
      type="text"
      formControlName="comments"
      matInput
      placeholder="Comments"
    />
    <mat-error
      *ngIf="
        updateCarForm.get('comments')?.invalid &&
        updateCarForm.get('comments')?.dirty
      "
    >
      Required
    </mat-error>
  </mat-form-field>

  <div class="dialog-row">
    <button
      class="secondary-btn"
      type="button"
      mat-raised-button
      mat-dialog-close
    >
      Cancel
    </button>

    <button class="action-btn" mat-flat-button type="submit">Update</button>
  </div>
</form>
