<form (ngSubmit)="create()" [formGroup]="createCarForm">
  <div>
    <h1>Add Car</h1>
  </div>
  <hr />

  <div class="dialog-row">
    <mat-form-field>
      <mat-label>Room</mat-label>
      <input type="text" formControlName="room" matInput placeholder="Room" />
      <mat-error
        *ngIf="
          createCarForm.get('room')?.invalid && createCarForm.get('room')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tag Nr.</mat-label>
      <input
        type="text"
        formControlName="tagNr"
        matInput
        placeholder="Tag Number"
      />
      <mat-error
        *ngIf="
          createCarForm.get('tagNr')?.invalid &&
          createCarForm.get('tagNr')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field>
      <mat-label>Arirval Date</mat-label>
      <input
        type="text"
        formControlName="arrivalDate"
        matInput
        placeholder="Arrival Date"
      />
      <mat-error
        *ngIf="
          createCarForm.get('arrivalDate')?.invalid &&
          createCarForm.get('arrivalDate')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Departure Date</mat-label>
      <input
        type="text"
        formControlName="departureDate"
        matInput
        placeholder="Departure Date"
      />
      <mat-error
        *ngIf="
          createCarForm.get('departureDate')?.invalid &&
          createCarForm.get('departureDate')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" formControlName="name" matInput placeholder="Name" />
      <mat-error
        *ngIf="
          createCarForm.get('name')?.invalid && createCarForm.get('name')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Exp.</mat-label>
      <input
        type="text"
        formControlName="expirationDate"
        matInput
        placeholder="Expiration Date"
      />
      <mat-error
        *ngIf="
          createCarForm.get('expirationDate')?.invalid &&
          createCarForm.get('expirationDate')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field>
      <mat-label>Pick Up Time</mat-label>
      <input
        type="text"
        formControlName="pickUpTime"
        matInput
        placeholder="Pick Up Time"
      />
      <mat-error
        *ngIf="
          createCarForm.get('pickUpTime')?.invalid &&
          createCarForm.get('pickUpTime')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field>
      <mat-label>Delivery Time</mat-label>
      <input
        type="text"
        formControlName="deliveryTime"
        matInput
        placeholder="Delivery Time"
      />
      <mat-error
        *ngIf="
          createCarForm.get('deliveryTime')?.invalid &&
          createCarForm.get('deliveryTime')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>BB Down</mat-label>
      <input
        type="text"
        formControlName="bbDown"
        matInput
        placeholder="BB Down"
      />
      <mat-error
        *ngIf="
          createCarForm.get('bbDown')?.invalid &&
          createCarForm.get('bbDown')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field>
      <mat-label>BB Up</mat-label>
      <input type="text" formControlName="bbUp" matInput placeholder="BB Up" />
      <mat-error
        *ngIf="
          createCarForm.get('bbUp')?.invalid && createCarForm.get('bbUp')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Location</mat-label>
      <input
        type="text"
        formControlName="location"
        matInput
        placeholder="Location"
      />
      <mat-error
        *ngIf="
          createCarForm.get('location')?.invalid &&
          createCarForm.get('location')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field>
      <mat-label>Parking Lot</mat-label>
      <input
        type="text"
        formControlName="parkingLot"
        matInput
        placeholder="Parking Lot"
      />
      <mat-error
        *ngIf="
          createCarForm.get('parkingLot')?.invalid &&
          createCarForm.get('parkingLot')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Comments</mat-label>
      <input
        type="text"
        formControlName="comments"
        matInput
        placeholder="Comments"
      />
      <mat-error
        *ngIf="
          createCarForm.get('comments')?.invalid &&
          createCarForm.get('comments')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field>
      <mat-label>Charged</mat-label>
      <input
        type="text"
        formControlName="charged"
        matInput
        placeholder="Charged"
      />
      <mat-error
        *ngIf="
          createCarForm.get('charged')?.invalid &&
          createCarForm.get('charged')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <label class="checkbox-container">
    The guest has given consent to the processing of personal data
    <input
      type="checkbox"
      [checked]="guestApprovedGDPR"
      (change)="guestApprovedGDPR = !guestApprovedGDPR"
    />
    <span class="checkmark"></span>
  </label>

  <div class="dialog-row">
    <button class="basic-btn" mat-raised-button mat-dialog-close>Cancel</button>

    <button class="action-btn" mat-flat-button type="submit">+ Add Car</button>
  </div>
</form>
