<div [ngSwitch]="tableName" class="dialog-container table-info">
  <div *ngSwitchCase="'checkin'">
    <strong>Room nr:</strong>
    <p>The guest's room number.</p>

    <strong>Name:</strong>
    <p>The guest's last name.</p>

    <strong>Time of arrival:</strong>
    <p>The guest's time of the arrival.</p>

    <strong>Nr of bags:</strong>
    <p>
      The number of bags the guest has. If the luggages sizes vary then write
      the number of main suitcases, add a “+” sign followed by the number of
      other items.
    </p>

    <strong>Tag nr:</strong>
    <p>The tag number found at the bottom of the luggage tag.</p>

    <strong>BB in LR:</strong>
    <p>
      (Bell boy in Luggage room) The initials of the bell boy who placed the
      luggage in the luggage room.
    </p>

    <strong>Location:</strong>
    <p>
      The location where the luggage has been stored. Can be LR, LR1, S1, Room
      or other. If other, please add an explanation in the comments.
    </p>

    <strong>Time in room:</strong>
    <p>When the luggage was placed in the guest's room.</p>

    <strong>BB up:</strong>
    <p>
      (Bell boy up) The initials of the bell boy who delivered the luggage to
      the guest's room.
    </p>

    <strong>Comments:</strong>
    <p>If something needs further explanation.</p>
  </div>

  <div *ngSwitchCase="'checkout'" class="dialog-container">
    <strong>Room nr:</strong>
    <p>The guest's room number.</p>

    <strong>Name:</strong>
    <p>The guest's last name.</p>

    <strong>Nr of bags:</strong>
    <p>
      The number of bags the guest has. If the luggages sizes vary, please write
      the number of main suitcases, then add a “+” sign followed by the number
      of other items.
    </p>

    <strong>Tag nr:</strong>
    <p>The tag number found at the bottom of the luggage tag.</p>

    <strong>BB in LR:</strong>
    <p>
      (Bell boy in Luggage room) The initials of the bell boy who placed the
      luggage in the luggage room.
    </p>

    <strong>BB down:</strong>
    <p>
      (Bell boy down) The initials of the bell boy, who brought the luggage down
      from the guest's room.
    </p>

    <strong>Location:</strong>
    <p>
      The location of the stored luggage. Can be LR, LR1, S1, Room or other. If
      others please do a further explanation in the comments.
    </p>

    <strong>Time out:</strong>
    <p>When the luggage was handed back to the guest at departure.</p>

    <strong>BB out:</strong>
    <p>
      (Bell boy out) The initials of the bell boy who gave the luggage to the
      guest at departure.
    </p>

    <strong>Comments:</strong>
    <p>If something needs further explanation.</p>
  </div>

  <div *ngSwitchCase="'longTerm'" class="dialog-container">
    <strong>Date in:</strong>
    <p>When the luggage was handed into the hotel.</p>

    <strong>Room nr:</strong>
    <p>The guest's room number.</p>

    <strong>Name:</strong>
    <p>The guest's last name.</p>

    <strong>Nr of bags:</strong>
    <p>
      The number of bags the guest has. If the luggages sizes vary, please write
      the number of main suitcases, then add a “+” sign followed by the number
      of other items.
    </p>

    <strong>Tag nr:</strong>
    <p>The tag number found at the bottom of the luggage tag.</p>

    <strong>Date needed:</strong>
    <p>The guests expected pick up date.</p>

    <strong>BB in LR:</strong>
    <p>
      (Bell boy in Luggage room) The initials of the bell boy who put the
      luggage in the luggage room.
    </p>

    <strong>Location:</strong>
    <p>
      The location of the stored luggage. Can be LR, LR1, S1, Room or other. If
      others please do a further explanation in the comments.
    </p>

    <strong>BB out:</strong>
    <p>(Bell boy out) The initials of the bell boy who gave it to the guest.</p>

    <strong>Date out:</strong>
    <p>When the luggage was handed over to the guest.</p>

    <strong>Comments:</strong>
    <p>If something needs further explanation.</p>
  </div>

  <div *ngSwitchCase="'cars'" class="dialog-container">
    <strong>Room nr:</strong>
    <p>The guest's room number.</p>

    <strong>Tag nr:</strong>
    <p>The tag number found at the top of the car note.</p>

    <strong>Arr:</strong>
    <p>(Arrival) The guest's arrival date.</p>

    <strong>Dep:</strong>
    <p>(Departure) The guest's departure date.</p>

    <strong>Name:</strong>
    <p>The guest's last name.</p>

    <strong>License plate:</strong>
    <p>The license plate of the guest's car.</p>

    <strong>Park exp:</strong>
    <p>
      (Parking expiration time) The expiration time of the parking registration
      made in
      <a href="https://simplyture.com/" target="_blank">SimplyTure.com</a>
    </p>

    <strong>Pick up time:</strong>
    <p>The date and time of when the car needs to be ready for the guest.</p>

    <strong>BB down:</strong>
    <p>
      (Bell boy up) The initials of the bell boy who drove the car from the
      hotel to the parking garage.
    </p>

    <strong>BB up:</strong>
    <p>
      (Bell boy up) The initials of the bell boy who drove it from the parking
      garage to the hotel.
    </p>

    <strong>Location:</strong>
    <p>The cars parking location.</p>

    <strong>Lot:</strong>
    <p>(Parking lot) The parking lot of the car.</p>

    <strong>Delivery time:</strong>
    <p>When the car was handed over to the guest.</p>

    <strong>BB out:</strong>
    <p>
      (Bell boy out) The initials of the bell boy who gave the keys to the
      guest.
    </p>

    <strong>Comments:</strong>
    <p>If something needs further explanation.</p>
  </div>

  <div *ngSwitchCase="'tasks'" class="dialog-container">
    <strong>Time:</strong>
    <p>The tasks expected time of completion.</p>

    <strong>Task:</strong>
    <p>An explanation of what the task is.</p>

    <strong>Done:</strong>
    <p>When the task was completed.</p>

    <strong>Initials:</strong>
    <p>The initials of the person who completed the task.</p>
  </div>

  <div *ngSwitchCase="'assignments'" class="dialog-container">
    <strong>Room nr:</strong>
    <p>The guest's room number.</p>

    <strong>Task:</strong>
    <p>
      An abbreviation of the task. Can either be RA = room assignment, RM = room
      move or other. If other do a further explanation in the comment field.
    </p>

    <strong>Comments:</strong>
    <p>A further explanation of the assignment.</p>

    <strong>Received by:</strong>
    <p>
      The one who gave the bell boy the assignment. Can be reception, guest or
      other. If other do a further explanation in the comments.
    </p>

    <strong>Received at:</strong>
    <p>When the assignment was received.</p>

    <strong>Preformed by:</strong>
    <p>The initials of the bell boy who did the assignment.</p>

    <strong>Preformed at:</strong>
    <p>When the assignment was completed.</p>
  </div>
</div>
