<div [ngSwitch]="tableName" class="dialog-container">
  <div *ngSwitchCase="'checkin'">
    <strong>Room nr:</strong>
    <p>The guest's room number.</p>

    <strong>Name:</strong>
    <p>The guest's last name.</p>

    <strong>Time of arrival:</strong>
    <p>The time of the guest's arrival.</p>

    <strong>Nr of bags:</strong>
    <p>
      The number of bags the guest has. If the luggages sizes vary then write
      the number of main suitcases, add a “+” sign followed by the number of
      other items.
    </p>

    <strong>Tag nr:</strong>
    <p>The tag number found at the bottom of the luggage tag.</p>

    <strong>BB in LR:</strong>
    <p>
      (Bellboy in Luggage room) The initials of the bell boy who placed the
      luggage in the luggage room.
    </p>

    <strong>Location:</strong>
    <p>
      The location where the luggage has been stored. Can be LR, LR1, S1, Room
      or other. If others please do a further explanation in the comments.
    </p>

    <strong>Time in room:</strong>
    <p>The time when the luggage was placed in the guest's room.</p>

    <strong>BB up:</strong>
    <p>
      (Bellboy up) The initials of the bell boy who delivered the luggage to the
      guest's room.
    </p>

    <strong>Comments:</strong>
    <p>If something needs further explanation.</p>
  </div>

  <div *ngSwitchCase="'checkout'" class="dialog-container">
    <strong>Room nr:</strong>
    <p>The guest's room number.</p>

    <strong>Name:</strong>
    <p>The guest's last name.</p>

    <strong>Nr of bags:</strong>
    <p>
      The number of bags the guest has. If the luggages sizes vary then write
      the number of main suitcases, add a “+” sign followed by the number of
      other items.
    </p>

    <strong>Tag nr:</strong>
    <p>The tag number found at the bottom of the luggage tag.</p>

    <strong>BB in LR:</strong>
    <p>
      (Bell boy in Luggage room) The initials of the bell boy who placed the
      luggage in the luggage room.
    </p>

    <strong>BB down:</strong>
    <p>
      (Bell boy down) The initials of the bell boy, who brought the luggage down
      from the guest's room.
    </p>

    <strong>Location:</strong>
    <p>
      The location where the luggage has been stored. Can be LR, LR1, S1, Room
      or other. If others please do a further explanation in the comments.
    </p>

    <strong>Time out:</strong>
    <p>The time of when the luggage was given to the guest for departure.</p>

    <strong>BB out:</strong>
    <p>
      (Bell boy out) The initials of the bell boy who gave the luggage to the
      guest for departure.
    </p>

    <strong>Comments:</strong>
    <p>If something needs further explanation.</p>
  </div>

  <div *ngSwitchCase="'longTerm'" class="dialog-container">
    <strong>Date in:</strong>
    <p>The date of when the long term was given to the bell boy.</p>

    <strong>Room nr:</strong>
    <p>The guest's room number.</p>

    <strong>Name:</strong>
    <p>The guest's last name.</p>

    <strong>Nr of bags:</strong>
    <p>
      The number of bags the guest has. If the luggages sizes vary then write
      the number of main suitcases, add a “+” sign and then write the other
      items.
    </p>

    <strong>Tag nr:</strong>
    <p>The tag number found at the bottom of the luggage tag.</p>

    <strong>Date needed:</strong>
    <p>The expected date of when the guest would need the long term.</p>

    <strong>BB in LR:</strong>
    <p>The initials of the bell boy who put it in the luggage room.</p>

    <strong>Location:</strong>
    <p>
      The location of the stored luggage. Can either be LR, LR1, S1, Room or
      other. If others please do a further explanation in the comments.
    </p>

    <strong>BB out:</strong>
    <p>The initials of the bell boy who gave it to the guest.</p>

    <strong>Date out:</strong>
    <p>the date of when the long term was given to the guest.</p>

    <strong>Comments:</strong>
    <p>If something needs further explanation.</p>
  </div>

  <div *ngSwitchCase="'cars'" class="dialog-container">
    <strong>Room nr:</strong>
    <p>The guest's room number.</p>

    <strong>Tag nr:</strong>
    <p>The tag number found at the top of the car note.</p>

    <strong>Arr:</strong>
    <p>The date of the guest's arrival.</p>

    <strong>Dep:</strong>
    <p>The date of the guest's departure.</p>

    <strong>Name:</strong>
    <p>The guest's last name.</p>

    <strong>License plate:</strong>
    <p>The license plate of the guest's car.</p>

    <strong>Park exp:</strong>
    <p>The expiration time of the registration made in SimplyTure.</p>

    <strong>Pick up time:</strong>
    <p>The time and date of when the guest would like their car ready by.</p>

    <strong>BB down:</strong>
    <p>
      The initials of the bell boy who drove it from the hotel to the parking
      garage.
    </p>

    <strong>BB up:</strong>
    <p>
      The initials of the bell boy who drove it from the parking garage to the
      hotel.
    </p>

    <strong>Location:</strong>
    <p>The location of the car when parked.</p>

    <strong>Lot:</strong>
    <p>The location of the car at the parking garage.</p>

    <strong>Delivery time:</strong>
    <p>The time when the car was given to the guest.</p>

    <strong>BB out:</strong>
    <p>The initials of the bell boy who gave the keys to the guest.</p>

    <strong>Comments:</strong>
    <p>If something needs further explanation.</p>
  </div>

  <div *ngSwitchCase="'tasks'" class="dialog-container">

  </div>

  <div *ngSwitchCase="'assignments'" class="dialog-container"></div>
</div>
