<div *ngIf="random">
  <h1>Hi. Welcome. Your room is to the left. Enjoy. Bye.</h1>
  <img
    style="max-height: 90vh"
    src="https://cdn.discordapp.com/attachments/641265312741851136/1043853479816474674/20221120_122925.jpg"
    alt=""
  />
</div>
<div *ngIf="!random">
  <h1>HELLO. WELCOME TO MY HOTEL! PLEASE ENJOY YOUR STAY!!</h1>
  <img
    style="max-height: 90vh"
    src="https://cdn.discordapp.com/attachments/641265312741851136/1043853492860760155/20221119_115228.jpg"
    alt=""
  />
</div>
