<form (ngSubmit)="onSubmit()" [formGroup]="createBikeForm">
  <h1>Add Bike</h1>
  <hr />

  <div class="dialog-row">
    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Room nr.</mat-label>
      <input
        #room
        type="number"
        formControlName="room"
        matInput
        placeholder="123"
      />
      <mat-error
        *ngIf="
          createBikeForm.get('room')?.invalid &&
          createBikeForm.get('room')?.dirty
        "
      >
        Must be a number from 100-999
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" appearance="fill" class="full-width">
      <mat-label>Name</mat-label>
      <input
        #name
        type="text"
        formControlName="name"
        matInput
        placeholder="Madsen"
      />
      <mat-error
        *ngIf="
          createBikeForm.get('name')?.invalid &&
          createBikeForm.get('name')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Number of bikes</mat-label>
      <input
        #nrOfBikes
        type="number"
        formControlName="nrOfBikes"
        matInput
        placeholder="1"
      />
      <mat-error
        *ngIf="
          createBikeForm.get('nrOfBikes')?.invalid &&
          createBikeForm.get('nrOfBikes')?.dirty
        "
      >
        Must be a number from 1-99
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Pick up time</mat-label>
      <input
        #pickUpTime
        matInput
        [ngxMatDatetimePicker]="pickUpTimePicker"
        placeholder="HH:mm"
        formControlName="pickUpTime"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(pickUpTimePicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #pickUpTimePicker
        [showSpinners]="true"
        [showSeconds]="false"
        [touchUi]="true"
      >
      </ngx-mat-datetime-picker>
      <mat-error
        *ngIf="
          createBikeForm.get('pickUpTime')?.invalid &&
          createBikeForm.get('pickUpTime')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <div class="dialog-row">
    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Reserved by</mat-label>
      <input
        #reservedBy
        type="text"
        formControlName="reservedBy"
        matInput
        placeholder="Guest"
      />
      <mat-error
        *ngIf="
          createBikeForm.get('reservedBy')?.invalid &&
          createBikeForm.get('reservedBy')?.dirty
        "
      >
        Required
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field autocomplete="off" appearance="fill" class="full-width">
    <mat-label>Comments</mat-label>
    <input
      #comments
      type="text"
      formControlName="comments"
      matInput
      placeholder="Comments"
    />
    <mat-error
      *ngIf="
        createBikeForm.get('comments')?.invalid &&
        createBikeForm.get('comments')?.dirty
      "
    >
      Required
    </mat-error>
  </mat-form-field>

  <label class="checkbox-container">
    The guest has filled out the bike form
    <input
      type="checkbox"
      [checked]="bikeFormCompleted"
      (change)="bikeFormCompleted = !bikeFormCompleted"
    />
    <span class="checkmark"></span>
  </label>

  <div class="dialog-row">
    <button
      class="secondary-btn"
      type="button"
      mat-raised-button
      mat-dialog-close
    >
      Cancel
    </button>

    <button class="action-btn" mat-flat-button type="submit">Add Bike</button>
  </div>
</form>
