.actions {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5em;

  mat-form-field {
    &:first-of-type {
      width: 250px;
      margin-left: 0.5em;
      margin-right: 1em;
    }
  }
}

.documents-container {
  overflow: auto;
  height: 75vh;
  padding: 2em 2em 0 2em;

  .documents-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2em;
  }
}
