<main>
  <div class="table-actions" style="text-align: end">
    <button
      mat-raised-button
      class="action-btn"
      (click)="openCreateDocumentDialog()"
    >
      Add document
    </button>
  </div>
  <hr />

  <section class="documents-container" style="padding: 2em 2em 0 2em">
    <mat-grid-list cols="12" gutterSize="2em">
      <mat-grid-tile
        [colspan]="4"
        [rowspan]="2"
        style="background-color: aqua"
        *ngFor="let document of documentList"
      >
        <hems-widget-item [title]="document.title"></hems-widget-item>
      </mat-grid-tile>
    </mat-grid-list>
  </section>
</main>
