<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <h1>Complete Task</h1>
  <hr />
  <div class="dialog-row">
    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Initials</mat-label>
      <input
        #initials
        type="text"
        formControlName="initials"
        matInput
        placeholder="DS"
      />
      <mat-error
        *ngIf="form.get('initials')?.invalid && form.get('initials')?.dirty"
      >
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field autocomplete="off" appearance="fill">
      <mat-label>Completed At</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="dateOut"
        placeholder="Received at"
        formControlName="completedAt"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(dateOut)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #dateOut
        [showSpinners]="true"
        [showSeconds]="false"
        [touchUi]="true"
      >
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>

  <div class="dialog-row actions-section">
    <button mat-raised-button class="basic-btn" type="button" (click)="reset()" *ngIf="this.data.completedAt || this.data.initials">
      reset
    </button>

    <button mat-raised-button class="secondary-btn" type="button" mat-dialog-close>
      Cancel
    </button>

    <button mat-raised-button class="action-btn" type="submit">
      Complete Task
    </button>
  </div>
</form>
